body { 
    background-color: rgb(194, 189, 163);
    color: rgb(0, 0, 14);
    font-family: "Varela Round", sans-serif;
    font-weight: 880;
    font-style: normal;

}
#About,
#Experience,
#Connect {
    margin-bottom: 40px;
    padding: 25px;
    background-color: white;
    border-radius: 8px;
}
#About, h1 {
    text-align: center;
}
h1 {
    color: rgb(170, 5, 5);
    font-weight: 1000;
    font-size: 65px;
}
